<!doctype html>
<html lang="en">
  <head>
    <title>bertblog » {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1">
    <link href="{{ site.baseurl }}/icon.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>	
    <header>
      <a rel="start" href="{{ site.baseurl }}"><img alt="bertblog" src="{{ site.baseurl }}/bertblog.gif"></a>
      
      <nav>
        {% if page.previous.url %} 
          <a href="{{ site.baseurl }}{{ page.previous.url }}">&laquo; previous</a>
        {% endif %} 
        {% if page.previous.url and page.next.url %} | {% endif %} 
        {% if page.next.url %} 
          <a href="{{ site.baseurl }}{{ page.next.url }}" >next &raquo; </a> 
        {% endif %} 
      </nav>      
  	</header>